label {
  display: inline-block;
  width: 150px; height: 21px;
  background-color: lightblue;
  padding-left: 15px;
  padding-right: 5px;
  text-align: left;
  }
.bloc0 { position: absolute; top: 40px; left: 5px; }
.bloc1 { position: absolute; top: 65px; left: 100px; }
.bloc2 { position: absolute; top: 200px; left: 100px; }
.bloc3 { position: absolute; top: 250px; left: 100px; }
.bloc4 { position: absolute; top: 105px; left: 550px; }
.bloc5 { position: absolute; top: 160px; left: 550px; }
.bloc6 { position: absolute; top: 105px; left: 950px; }


.entete {
  background-color: white;
  font-weight: bold;
  text-align: center; height: 10px;
  }